body, html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #666;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

/* Event on page */
#event-side {
  padding: 10px 0;
}

#event-side i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.event-side {
  position: relative;
  padding: 10px;
}

.event-side-image {
  float: left;
  margin-right: 30px;
}

.event-side-image, .event-side-image img {
  display: block;
  width: 160px;
  height: 120px;
}

.event-side-content {
  position: relative;
  overflow: hidden;
}

.event-side-name {
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.event-side-desig {
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 600;
}

/* About - Blue bg */
#clubpage {
  padding: 120px 10px 50px 10px;
}

#myCarousel {
  margin: 0 10px 0 10px;
}

.event-title h2 {
  padding: 50px 0 5px 0;
  /* text-align: center; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

#dark-bg {
  padding: 100px 0 60px 0;
  background: #1f386e;
  color: rgba(255, 255, 255, .65);
}

#dark-bg .section-title {
  margin-bottom: 40px;
}

#dark-bg h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

#dark-bg h4 {
  color: #fff;
  margin-top: 22px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}

/* Lite Bg - Events */
#lite-bg {
  padding: 110px 0;
  background: #f6f6f6;
}

#lite-bg h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
}

#lite-bg h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

#lite-bg h2::after {
  position: absolute;
  content: "";
  background-color: #e52f3c;
  height: 3px;
  width: 50px;
  bottom: -1px;
  left: 0;
}

#lite-bg .lite-bg-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}

#lite-bg .lite-bg-text li:before {
  content: "\f054";
  font-family: 'FontAwesome';
  color: #1f386e;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}

#lite-bg img {
  padding: 10px;
  width: 600px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#lite-bg p {
  line-height: 24px;
  margin: 30px 0;
}

/* People */
#peoples {
  padding: 100px 0;
}

#peoples i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}

.people {
  position: relative;
  padding: 20px;
}

.people-image {
  float: left;
  margin-right: 15px;
}

.people-image, .people-image img {
  display: block;
  width: 100px;
  height: 100px;
}

.people-content {
  position: relative;
  overflow: hidden;
}

.people-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.people-desig {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
}

.people-mail {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}

.people-phone {
  margin-bottom: 0;
  font-size: 14px;
}

.facebook-font:before {
  content: "\f230";
  /* content:"\f09a"; */
  /* content:"\f082"; */
  font-family: 'FontAwesome';
  color: #1f386e;
  font-size: 15px;
  font-weight: 700;
  padding-right: 8px;
}

#clubs {
  padding: 100px 0;
}

#clubs .clubs-media {
  margin: 5px;
}

#clubs .clubs-media img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

#clubs .clubs-desc {
  margin: 5px 5px 2px;
}

#clubs h3 {
  font-weight: 700;
  padding: 1px;
}

#clubs .clubs-desc hr {
  margin-left: 0;
}

#clubs p {
  font-weight: 700;
  padding: 1px;
}

/* end */
h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 32px;
  color: #333;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #333;
}

h4 {
  font-size: 18px;
  color: #333;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

p {
  font-size: 15px;
}

a {
  color: #1f386e;
  font-weight: 400;
}

a:hover, a:focus {
  text-decoration: none;
  color: #e52f3c;
}

ul, ol {
  list-style: none;
}

ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1E7A46;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */
#menu {
  padding: 20px;
  transition: all 0.8s;
}

#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
}

#menu a.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #1f386e;
  text-transform: none;
  letter-spacing: -1px;
}

#menu.navbar-default .navbar-nav>li>a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #1f386e;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0 20px;
}

#menu.navbar-default .navbar-nav>li>a:hover {
  color: #ce2a36;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ce2a36 !important;
  background-color: transparent;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #1b6d3f;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.section-title h2::after {
  position: absolute;
  content: "";
  background-color: #e52f3c;
  height: 3px;
  width: 50px;
  bottom: -1px;
  left: 0;
}

.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #e52f3c;
  padding: 14px 20px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
  color: #fff;
  background-color: #1f386e;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../img/bgimage.jpg) center center no-repeat;
  background-color: #e5e5e5;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .overlay {
  background: rgba(0, 0, 0, 0);
}

.intro h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.intro p {

  font-size: 24px;
  line-height: 28px;
  padding: 15px;
  max-width: 450px;
  border:1px solid #fff;
  border-radius: 6px;
  background: rgba(0, 0, 0, .5);
  margin: auto;

}

p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}

.intro a {
  color: #fff;
}



header .intro-text {
  margin-top: 350px;
  margin-bottom: 150px;
  text-align: center;
}

/* Lern More */
#learn-more {
  margin:0;
  padding: 10px 0 10px;
  color: rgba(255, 255, 255, .7);
  background: rgba(0, 0, 0, .5);



}

#learn-more h3 {
  font-size: 24px;
  font-weight: 10;
  color: #fff;
  margin: 0 0 0px 0;

}

#learn-more h4 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 0px 0;

}

#learn-more .btn-custom {
  margin:10px;
  background: transparent;
  border: 2px solid #fff;
}

#learn-more .btn-custom:hover {
  color: #1f386e;
  background: #fff;
  border: 2px solid #fff;
}

/*timing section  */
.timebox{
  width:auto;
  height: auto;
  margin:5px;
  border: 3px solid black;
  border-radius: 5px;
  border-color: #1f386e;




}
.timebox p{
  color: black;
}

/* slider */
.slick-slide img {
  width: 100%;
}

.slick-slide {
  color: white;
  padding: 0px;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-dots {
  bottom: 20px;
}

.slick-next,
.slick-prev {
  z-index: 1;
}

.slick-next {
  right: 20px !important;
}

.slick-prev {
  left: 20px !important;
}





.boxed{
	width:200px;
	height:200px;
}

.slider {
  margin: 0;
  height: 400px;
  width: 100%;
}
.events
{

  margin:0;
  padding:1px;

  background-color:white;
}
.events h1{
  font-family:  sans-serif;

  color: #1f386e;
  font-size: 50px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  opacity:1;

}
.hoverbox {
  position: relative;
}

.sliderimg {
  height: 100%;
  opacity: 1;
  background: black;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: .5s ease;
  background-color:black;
}

.bottomoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  opacity:0.7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hovertext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.imgtext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 1;
  border: 2px solid white;
  color: #FFFFFF;
  font-size: 32px;
	padding:5px 10px 5px 10px;
  text-align: center
}

.hoverbox:hover .imgtext {
  opacity: 0 !important;
}

.hoverbox:hover .middle {
  opacity: 0 !important;
}

.hoverbox:hover .bottomoverlay {
  height: 30% !important;
}
.slider .slick-list .slick-track .slick-center .imgtext{
  opacity: 0;
}
.slider .slick-list .slick-track .slick-center .middle{
  opacity: 0;
}
.slider .slick-list .slick-track .slick-center .bottomoverlay {
  height:30% ;
}
.slider:hover .slick-list .slick-track .slick-center .imgtext{
  opacity: 1;
}
.slider:hover .slick-list .slick-track .slick-center .middle{
  opacity: 0.5;
}
.slider:hover .slick-list .slick-track .slick-center .bottomoverlay {
  height:0;
}

/* Gallery Section */
#gallery {
  padding: 100px 0;
  background: #f6f6f6;
}

.gallery-item {
  margin: 15px 0;
}

.gallery-item .hover-bg {
  overflow: hidden;
  position: relative;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(31, 56, 110, 0.8);
  padding: 30% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Footer Section*/
#footer {
  background: #f6f6f6;
  padding: 10px 0;
}

#footer p {
  color: #888;
  font-size: 14px;
}

#footer a {
  color: #888;
}

#footer a:hover {
  color: none;
}

@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
}
